{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if streamingList is defined %}
		<input type="text" id="streamingSearch" placeholder="Search...">
		<ul id="streamingList">
			{% for item in streamingList %}
				<li><a href="/streaming/{{ item['id'] }}">{{ item['name'] }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No Watchmode list available.</p>
	{% endif %}
</div>

<script>
    const streamingSearch = document.getElementById('streamingSearch');
    const streamingList = document.getElementById('streamingList');
    const streamingJson = {{ streamingList | json_encode() | raw }};

    streamingSearch.addEventListener('input', function() {
        const searchTerm = this.value.toLowerCase();
        const filteredList = streamingJson.filter(item => item.name.toLowerCase().includes(searchTerm));
        renderResults(filteredList);
    });

    function renderResults(list) {
        streamingList.innerHTML = '';
        list.forEach(item => {
            streamingList.innerHTML += `<li><a href="/streaming/${item.id}">${item.name}</a></li>`;
        });
    }
</script>

{% endblock %}
