*{
	outline:none !important;
}
*:before{
	vertical-align: top;
}
.radialBg{
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
.userNav{
	ul{
		line-height: 2;
		padding:0px 20px;
		width:118px;
		transition: opacity 0.5s ease, height 0.5s ease, transform 0.5s ease, line-height 0.5s ease, padding 0.5s ease;
		li{
			a{
				transition: opacity 0.5s ease, color 0.5s ease;
			}
		}
	}
	> span{
		transition: color 0.5s ease;
	}
	input[type="checkbox"]{
		&:checked ~ ul{
			transform: translateY(0px);
			opacity:1;
			height:initial;
			z-index: 1;
			pointer-events: initial;
			padding:20px;
			li{
				a{
					opacity:1;
				}
			}
		}
		&:hover ~ span{
			color:rgb(103 232 249);
		}
	}
}

form[name="add_to_favourite"], form[name="remove_from_favourite"]{
	width:100%;
	align-items: end;
	#add_to_favourite, #remove_from_favourite{
		background: transparent;
	}
}

#recent, #contentList{
	li{
		a{
			img{
				aspect-ratio: 187 / 281;
			}
		}
	}
}

.streamingPage{
	&:not(:has(.titleWrapper)){
		.resultTitle{
			display:none;
		}
	}
	.head{
		position: relative;
		height:200px;
		display:grid;
		align-items: center;
		justify-items: center;
		&:before{
			z-index: 2;
			position: absolute;
			content:'';
			opacity:1;
			background-image: inherit;
			width:100%;
			height:100%;
			display:block;
		}
	}
	#genreList{
		.check{
			input{
				&:hover ~ label, &:checked ~ label{
					color: #2dd4bf;
					span{
						color:#38bdf8;
					}
				}
				&:checked ~ label{
					color: #000;
					background: #fff;
					font-weight: 700;
					padding:2px 5px;
					span{
						color:#38bdf8;
					}
				}
			}
			label{
				transition:color 0.5s ease, background 0.5s ease, font-weight 0.5s ease, font-size 0.5s ease;
			}
			label{
				span{
					transition: color 0.5s ease;
				}
			}
		}
	}
}

main{
	&:has(.nonAuth){
		margin:0px !important;
	}
}